---
layout: layouts/home.njk
title: Photos
eleventyNavigation:
  key: Photos
  order: 4
---
<h1>Photos</h1>

<p><a href="/species/">Species catalogue</a></p>

{% include "photo-gallery-assets.njk" %}
{% expandedPhotoPosts collections.photos %}
