{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="my-6 flex flex-col gap-1">
		<time class="text-xs text-slate-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		<a href="{{ post.url }}" class="text-xl text-slate-800 hover:text-slate-600 hover:underline underline-offset-4 decoration-4 decoration-slate-500 hover:decoration-slate-400">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
	</li>
{% endfor %}
</ol>
