<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		<link rel="stylesheet" href="/css/tailwind.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body class="font-sans font-normal leading-relaxed font-base bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 flex flex-col flex-1 min-h-svh">
		<header class="bg-slate-100 dark:bg-slate-800">
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav class="container max-w-screen-md mx-auto p-5 flex flex-row items-end flex-wrap gap-4">
      {%- for entry in collections.all | eleventyNavigation %}
        <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %} class="block hover:underline underline-offset-4 decoration-4 decoration-slate-500 dark:decoration-slate-300 hover:decoration-slate-400 dark:hover:decoration-slate-500 text-slate-600 dark:text-slate-200 hover:text-slate-500 dark:hover:text-slate-400 {% if entry.url == page.url %}underline{% endif %} {% if entry.title == "Oaken" %}text-4xl font-black{% else %}text-xl font-bold{% endif %}">
          {{ entry.title }}
        </a>
      {%- endfor %}
			</nav>
		</header>

		<main class="container max-w-screen-md mx-auto p-5 flex-1">
			{{ content | safe }}
		</main>

		<footer class="text-xs text-gray-500 container max-w-screen-md mx-auto p-5 flex flex-col">
      <div class="border-t-2 border-slate-200 dark:border-slate-600" />
      <div class="flex pt-5 flex-row justify-between">
        <span>© Samuli Tamminen</span>
        <a href="/privacy">Privacy Policy</a>
      </div>
    </footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
