<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		<link rel="stylesheet" href="/css/tailwind.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body class="font-sans font-normal leading-relaxed font-base text-gray-800">
		<header class="bg-slate-100">

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav class="container max-w-screen-md mx-auto p-5 align-text-bottom">
			  <a href="/" class="text-4xl mr-2 font-bold text-slate-600 hover:text-slate-500">{{ metadata.title }}</a>
				{%- for entry in collections.all | eleventyNavigation %}
					<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %} class="text-xl mx-2 font-bold text-slate-600 hover:text-slate-500 hover:border-b-4 hover:border-slate-500 {% if entry.url == page.url %}border-b-4 border-slate-500{% endif %}">
            {{ entry.title }}
          </a>
				{%- endfor %}
			</nav>
		</header>

		<main class="container max-w-screen-md mx-auto p-5">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
